@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  /* colors */
  --main-dark: #161D6F;
  --main-bright: #F6F6F6;
  --accent-bright: #C7EAE7;
  --accent-dark: #98DED9;
  /* weight */
  --Black: 900;
  --Bold: 700;
  --Medium: 500;
  --Regular: 400;
  --Light: 300;
  --Thin: 100;
  /* font size */
  --title-font: 36px;
  --normal-font: 18px;
  --normal-bigger-font: 24px;
  --small-font: 12px;
  --small-bigger-font: 14px;
  /* margin */
  --margin:20px;
}
@media (min-width: 920px) { 
  :root{
    /* font size */
    --title-font: 48px;
    --normal-font: 24px;
    --normal-bigger-font: 36px;
    --small-font: 18px;
    --small-bigger-font: 24px;
    /* margin */
    --margin:10%;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--main-dark);
}

body{
  background-color: var(--main-bright);
}

button{
  border:none;
  background: none;
  cursor: pointer;
}

input{
  border: none;
}